<div class="panel indent">
        <div class="row">
            <div class="col-md-6">
                 <h4><strong><%= link_to phone.mobile_model.name , phone %></strong></h4>
            </div>  
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="http://placehold.it/260x180" alt="">
                </a>
            </div>      
            <div class="col-md-6">
                <p>
                    <%= phone.mobile_type.name %> <%= phone.mobile_system.name %>
                </p>
                <p>Разрешение: <%= phone.screen.name %></p>
                <p>Память: <%= phone.memory %> ГБ</p>
                <p>Батарея: <%= phone.battery_charge %> МА/ч</p>
                <p><% phone.colors_phone.each do |color| %>
                        <%= color.name %>
                <% end %></p>
                
                <div class="row">
                    <div class="col-md-7">
                        <p></p>
                        <p>
                            <%= link_to like_phone_path(phone), method: :put, class:"btn btn-default" do %>
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                <%= phone.get_upvotes.size %>
                            <% end %> 
                            <%= link_to dislike_phone_path(phone), method: :put, class:"btn btn-default" do %>
                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                <%= phone.get_downvotes.size %>
                            <% end %> 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4><%= phone.price %> <i class="fa fa-rub fa-1x"></i></h4>
                <p><%= link_to "Подробнее", phone , class:"btn btn-primary" %><br></p> 
                <p><%= button_to 'Добавить в корзину', line_items_path(phone_id: phone),class:"btn btn-success" %></p> 
            </div>
            

        </div>  
    </div>