<div class="col-md-8">
	<div class="row">
		<%= form_tag root_path, method: 'get', class: 'search-form' do %>
          <div class="input-group col-md-12">
                <%= text_field_tag :search, params[:search], class:"form-control" %>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                          <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
       <% end %><br><br>
     </div>
	<div class="row">
	    <div class="scope panel indent">
			 <%= link_to "По дате добавления", recent_phones_path %>	| 
			 <%= link_to "По цене", price_ascending_phones_path %>		
		</div> <br>
	</div>
	<%= render @phones %>
	<div class="indent">
		<%= will_paginate @phones, renderer: BootstrapPagination::Rails %>	
	</div>
	
</div>
<div class="col-md-3">
	<div class="panel">
		<%= render 'searches/new' %>
	</div>
	
		
		
	
</div>

	
		
	
