<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true } )do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="sign-back">
          <h2>Регистрация</h2><br>
          <%= devise_error_messages! %>  
              <div class="form-group">
                    <%= f.text_field :name, :placeholder => "Имя", autofocus: true, class:"form-control" %>
              </div> <br>

              <div class="form-group">
                    <%= f.text_field :name, :placeholder => "Фамилия", autofocus: true, class:"form-control" %>
              </div> <br>

              <div class="form-group">
                    <%= f.email_field :email, :placeholder => "Эл.адрес", autofocus: true, class:"form-control" %>
              </div> <br>
              <div class="form-group">
                    <%= f.password_field :password, :placeholder => 'Пароль', class:"form-control form-control-tag" %>
              </div> <br>
              <div class="form-group">
                    <%= f.password_field :password_confirmation, :placeholder => "Подтверждение пароля", autocomplete: "on", class:"form-control" %>
              </div> <br>
              
              <div class="form-group">
                  <%= f.submit "Зарегистрироваться", class: "btn btn-primary btn-sign-up" %>
              </div>
          </div>    
      </div>
    </div>
    
<% end %>
